html, body, #main {
    width: 100%;
    height: 100%;
    margin: 0;
}

.drag {
    height: 30px;
    min-width: 30px;
    color: #f3f3f3;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    padding: 0;
    background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
    border-radius: 3px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: move;
    z-index: 2;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}