body .list-card-labels {
  position: absolute;
  margin: 0;
  top: -1px;
}

body .list-card-labels .card-label {
  border-radius: 0 0 3px 3px;
  height: 4px;
  width: 20px;
  padding-top: 2px;
}

body.trelabels .list-card-details {
  /*padding-top: 0;*/
}

body.trelabels .list-card-labels {
  position: relative;
}

body.trelabels .list-card-labels .card-label {
  height: inherit;
  line-height: 1;
  width: inherit;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
  /*padding: 2px 4px;*/
  border-radius: 3px;
  margin: 0 2px 1px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

#trelabels.active {
  background: rgba(0, 0, 0, 0.1);
}
#trelabels.active:hover {
  background: rgba(0, 0, 0, 0.2);
}