.scrum-light {
    opacity: .7;
    font-size: 90%}
.scrum-list-total {
    position: absolute;
    top: 6px;
    right: 29px;
    display: inline-block;
    padding: 2px;
    line-height: 1em;
    background: #e3e3e3;
    color: #666;
    border-radius: 3px;
    margin-top: 3px;
}
.scrum-list-progress {
    position: absolute;
    left: 0;
    height: 100%;
    background: #379e5a;
    opacity: 0.3;
    z-index: 0;
    top: 0;
}
.scrum-card-progress {
    position: absolute;
    top: 0;
    left: 0;
    background: #379e5a;
    opacity: 0.2;
    height: 100%;
    z-index: -1;
}
.scrum-card-progress.overrun {
    color: #5c001c;
}
.scrum-card-project {
    display: inline-block;
    color: #fff;
    padding: 3px 3px 2px;
    line-height: 1;
    font-size: 9px;
    vertical-align: 2px;
    border-radius: 3px;
}
.scrum-card-points {
    position: absolute;
    top: 0;
    right: 3px;
    display: inline-block;
    padding: 2px;
    line-height: 1em;
    vertical-align: middle;
    border-radius: 3px;
    color: #555;
    text-shadow: 0 0 2px white;
    font-size: 12px;
    opacity: .6;
}
.scrum-card-points.overrun {
    color: #5c001c;
}
.scrum-card-points.perfect {
    color: #274d01;
}
.list-card.scrum-card-header {
    text-align: center;
    background: transparent;
    border: 0;
    font-size: 150%;
    line-height: 1.3em;
}
.js-open-agilescrum-menu .icon-add:before {
    content: "\e600"}
.icon-reload {
    content: "\e624";
}